*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
header,
<<<<<<< HEAD
section h2, 
=======
section h2,
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

<<<<<<< HEAD
body ,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

=======
body, input, textarea{
    font-family: 'Roboto', sans-serif;
}
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c

header{
    padding: 16px;
    background-color: #182C61;
    color: #ecf0f1;
} 

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marcas img{
    height: 24px;
}

.marcas li{
    display: inline;
    margin: 8px;
}

section .container {
    align-items: flex-start;
}

section h2{
    align-items: none;
}

section {
    padding: 24px 0;
}

section{
    color: #182C61;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

#loja {
    margin-right: 32px;
}

.social img{
    height: 24px;
}

<<<<<<< HEAD
.social li {
=======
.social li{
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
    display: inline;
    margin-right: 8px;
}

<<<<<<< HEAD
.social li a {
    text-decoration: none;
    
}

#contato .container{
=======
.social li{
    text-decoration: none;
}

#contato h2{
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
    display: block;
}

.contato {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

<<<<<<< HEAD
form textarea {
=======
form textarea{
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

<<<<<<< HEAD
form button {
    background-color: #182C61;
    color: #ecf0f1;
=======
form button{
    background-color: #182C61;
    color: #fff;
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
    border: none;
    cursor: pointer;
}

<<<<<<< HEAD
form button:hover {
    background-color: #354e95;
}

textarea:focus, input:focus {
    outline-color: #182C61;
}

footer{
    outline-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
=======
form button:hover{
    background-color: #3a5ab0;
}

input:focus ,textarea:focus{
    outline-color: #76e923;
>>>>>>> 340f82531e18f0c2cbe570d62492f87891c94d7c
}